$color-principal: #f3f3f3;
$ancho-principal: 20px;
/*Map*/
$banco-colores:(
    color-navbar: orangered,
    color-cursos: blanchedalmond,
    color-footer: rgb(24, 181, 209),
    color-hover: rgb(199, 227, 145)
);

